<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Vehículos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- List of Vehicles Items -->
  <ion-list *ngFor="let vehicle of vehicles">
    <app-vehicle-item [vehicle]="vehicle"></app-vehicle-item>
  </ion-list>

  <!-- Add new vehicle button -->
  <ion-fab id="open-modal" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<!-- Form add new vehicle --> 

<ion-modal trigger="open-modal">
  <ng-template>
    <form [formGroup]="addVehicleForm">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()" color="danger"><ion-icon name="close-sharp"></ion-icon></ion-button>
          </ion-buttons>
          <ion-title>Nuevo vehículo</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" color="primary" [strong]="true"><ion-icon name="checkmark-sharp"></ion-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">

        <ion-item>
          <ion-label position="stacked">Ingresa la patente (sin guion ni espacios)</ion-label>
          <ion-input type="text" formControlName="licensePlate" placeholder="K123A3"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Ingresa el tipo</ion-label>
          <ion-input type="text" formControlName="type" placeholder="moto"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Ingresa el peso (sin puntos)</ion-label>
          <ion-input type="number" formControlName="weight" placeholder="100"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Ingresa el color</ion-label>
          <ion-input type="text" formControlName="color" placeholder="azul"></ion-input>
        </ion-item>
        
        <ion-list-header>
          <ion-label>Indica si está asegurado</ion-label>
        </ion-list-header>

        <ion-radio-group value="" formControlName="insurance">
          <ion-item>
            <ion-label>Si</ion-label>
            <ion-radio slot="end" [value]="true"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>No</ion-label>
            <ion-radio slot="end" [value]="false"></ion-radio>
          </ion-item>
        </ion-radio-group>

      </ion-content>
    </form>
  </ng-template>
</ion-modal>